<div class="notifications">
{% for type, messages in flash_bag %}
	{% for message in messages%}
		<p class="bg-{{ type }}">{{ message }} <button type="button" class="close" data-dismiss="bg-{{ type }}"  aria-hidden="true">&times;</button></p>
	{% endfor %}
{% endfor %}
</div>
