debug: false
jira:
  host: ~
  ssl: true
  login: ~
  password: ~
  transition:
    torg:
      test: ~
      check: ~
    frontend:
      test: ~
      check: ~
  testbed:
    scheme: http
    host: ~
